<!--
Written by Aneta Kotas
For Web Application Developement, CA2
Year 2024/08/29

Here the form sends the updated data to the database and ejs variables are holding the old values, letting the user edit them.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Fact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <style>
        .nerko-one-regular, header, h1 {
            font-family: "Nerko One", cursive;
            font-weight: 400;
            font-style: normal;
        }

        .nunito-sans, html {
            font-family: "Nunito Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-variation-settings:
                "wdth" 100,
                "YTLC" 500;
        }

        body {
            text-align: center;
        }

        input, button {
            padding: 10px;
            margin-bottom: 25px;
        }

        #fact {
            width: 350px;
        }

        .factContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            min-width: 600px;
            margin: 10px;
            padding: 8px;
        }

        .factContainer > p {
            margin-right: 5px;
        }

        .flexContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        .buttonsContainer {
            text-align: center;
        }

        #edit, #delete {
            margin: 5px;
        }
    </style>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
      </header>
    
      <main>
        <h1>Here you can submit facts about YOU!</h1>
        <form action="/edit/<%- fact.id %>" method="post">
            <input type="text" name="name" placeholder="Your Name" value="<%- fact.name %>">
            <input type="text" name="context" placeholder="Your Fact" id="fact" value="<%- fact.context %>">
            <button>Update Fact</button>
        </form>
      </main>
    
      <footer>
        <%- include('./partials/footer') %>
      </footer>

      <script src="https://kit.fontawesome.com/d8fa2073a1.js" crossorigin="anonymous"></script>
</body>
</html>